{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header" data-i18n="pages_title">钓鱼页面</h1>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static"
            data-target="#modal"><i class="fa fa-plus"></i> <span data-i18n="pages_new">新建页面</span></button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info" data-i18n="pages_no_pages">
            暂无钓鱼页面，点击新建开始创建！
        </div>
    </div>
    <div class="row">
        <table id="pagesTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th data-i18n="pages_name">页面名称</th>
                    <th data-i18n="pages_modified">最后修改</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel" data-i18n="pages_new">新建钓鱼页面</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="name" data-i18n="pages_name">页面名称：</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="页面名称" id="name" autofocus />
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" data-toggle="modal" data-backdrop="static"
                        data-target="#importSiteModal"><i class="fa fa-globe"></i>
                        <span data-i18n="pages_import_site">克隆网站</span></button>
                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active" role="html"><a href="#html" aria-controls="html" role="tab"
                            data-toggle="tab">HTML</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="html">
                        <textarea id="html_editor"></textarea>
                    </div>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="capture_credentials_checkbox" type="checkbox">
                    <label for="capture_credentials_checkbox"><span data-i18n="pages_capture_credentials">捕获提交数据</span>
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right"
                            title="如果页面包含表单，提交的数据（密码除外）将被捕获。"></i></label>
                </div>
                <div class="checkbox checkbox-primary" id="capture_passwords">
                    <input id="capture_passwords_checkbox" type="checkbox">
                    <label for="capture_passwords_checkbox" data-i18n="pages_capture_passwords">捕获密码</label>
                    <div class="alert alert-warning">
                        <i class="fa fa-exclamation-circle"></i> <b>警告：</b>凭据目前<b>未加密</b>。这意味着捕获的密码以明文形式存储在数据库中。请谨慎使用！
                    </div>
                </div>
                <div id="redirect_url">
                    <label class="control-label" for="redirect_url_input"><span
                            data-i18n="pages_redirect">跳转地址</span>：<i class="fa fa-question-circle"
                            data-toggle="tooltip" data-placement="right" title="此选项允许您在用户提交凭据后将其重定向到指定页面。"></i></label>
                    <div class="form-group">
                        <input id="redirect_url_input" class="form-control" placeholder="http://example.com" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" onclick="dismiss()"
                    data-i18n="btn_cancel">取消</button>
                <button type="button" class="btn btn-primary" id="modalSubmit"><span
                        data-i18n="btn_save">保存</span>页面</button>
            </div>
        </div>
    </div>
</div>
<!-- Import Site Modal -->
<div class="modal fade" id="importSiteModal" tabindex="-1" role="dialog" aria-labelledby="importSiteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importSiteModalLabel" data-i18n="pages_import_site">克隆网站</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="modal.flashes"></div>
                <label class="control-label" for="url">URL：</label>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="http://google.com" id="url" autofocus />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" data-i18n="btn_cancel">取消</button>
                <button type="button" class="btn btn-primary" id="modalSubmit" onclick="importSite()"
                    data-i18n="btn_import">导入</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/src/vendor/ckeditor/ckeditor.js"></script>
<script src="/js/src/vendor/ckeditor/adapters/jquery.js"></script>
<script src="/js/dist/app/autocomplete.min.js"></script>
<script src="/js/dist/app/landing_pages.min.js"></script>
{{end}}