{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header" data-i18n="settings_title">设置</h1>
    </div>
    <div id="flashes" class="row"></div>
    {{template "flashes" .Flashes}}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="mainSettings"><a href="#mainSettings" aria-controls="mainSettings" role="tab"
                data-toggle="tab" data-i18n="settings_account">账户设置</a></li>
        <li role="uiSettings"><a href="#uiSettings" aria-controls="uiSettings" role="tab" data-toggle="tab"
                data-i18n="settings_ui">界面设置</a></li>
        <li role="reportingSettings"><a href="#reportingSettings" aria-controls="reportingSettings" role="tab"
                id="reporttab" data-toggle="tab" data-i18n="settings_reporting">报告设置</a></li>
    </ul>
    <!-- Tab Panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="mainSettings">
            <br />
            {{if .ModifySystem }}
            <div class="row">
                <label class="col-sm-2 control-label form-label" data-i18n="settings_version">Gophish 版本</label>
                <div class="col-md-6">
                    <label class="form-label">{{.Version}}</label>
                </div>
            </div>
            <br />
            {{end}}
            <div class="row">
                <label for="api_key" class="col-sm-2 control-label form-label" data-i18n="settings_api_key">API
                    密钥：</label>
                <div class="col-md-6">
                    <input type="text" id="api_key" onclick="this.select();" value="{{.User.ApiKey}}"
                        class="form-control" readonly />
                </div>
                <form id="apiResetForm">
                    <button class="btn btn-primary"><i class="fa fa-refresh" type="submit"></i> <span
                            data-i18n="settings_api_reset">重置</span></button>
                    <input type="hidden" name="csrf_token" value="{{.Token}}" />
                </form>
            </div>
            <br />
            <form id="settingsForm">
                <div class="row">
                    <label for="username" class="col-sm-2 control-label form-label"
                        data-i18n="settings_username">用户名：</label>
                    <div class="col-md-6">
                        <input type="text" id="username" name="username" value="{{.User.Username}}"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="current_password" class="col-sm-2 control-label form-label"
                        data-i18n="settings_old_password">旧密码：</label>
                    <div class="col-md-6">
                        <input type="password" id="current_password" name="current_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="new_password" class="col-sm-2 control-label form-label"
                        data-i18n="settings_new_password">新密码：</label>
                    <div class="col-md-6">
                        <input type="password" id="password" name="new_password" autocomplete="new-password"
                            class="form-control" />
                        <div class="hidden" id="password-strength-container">
                            <div class="progress" id="password-strength">
                                <div id="password-strength-bar" class="progress-bar" role="progressbar"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span id="password-strength-description"></span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label for="confirm_new_password" class="col-sm-2 control-label form-label"
                        data-i18n="settings_confirm_password">确认新密码：</label>
                    <div class="col-md-6">
                        <input type="password" id="confirm_new_password" name="confirm_new_password" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{.Token}}" />
                <br />
                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> <span
                        data-i18n="btn_save">保存</span></button>
            </form>
            <br />
        </div>
        <div role="tabpanel" class="tab-pane" id="uiSettings">
            <br />
            <div class="checkbox checkbox-primary">
                <input id="use_map" type="checkbox">
                <label for="use_map" data-i18n="settings_show_map">显示活动结果地图</label>
            </div>
        </div>
        <!-- Reporting Settings Begin -->
        <div role="tabpanel" class="tab-pane" id="reportingSettings">
            <form id="imapForm">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        监控 IMAP 邮箱账户，接收用户举报的钓鱼邮件。
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="use_imap" type="checkbox">
                            <label for="use_imap" data-i18n="settings_imap">启用邮件监控</label>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row">
                    <label for="imaphost" class="col-sm-2 control-label form-label" data-i18n="settings_imap_host">IMAP
                        服务器：</label>
                    <div class="col-md-6">
                        <input type="text" id="imaphost" name="imaphost" placeholder="imap.example.com"
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="imapport" class="col-sm-2 control-label form-label" data-i18n="settings_imap_port">IMAP
                        端口：</label>
                    <div class="col-md-6">
                        <input type="text" id="imapport" name="imapport" placeholder="993" class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="imapusername" class="col-sm-2 control-label form-label"
                        data-i18n="settings_imap_username">IMAP 用户名：</label>
                    <div class="col-md-6">
                        <input type="text" id="imapusername" name="imapusername" placeholder="用户名"
                            class="form-control" />
                    </div>
                </div>
                <br />

                <div class="row">
                    <label for="imappassword" class="col-sm-2 control-label form-label"
                        data-i18n="settings_imap_password">IMAP 密码：</label>
                    <div class="col-md-6">
                        <input type="password" id="imappassword" name="imappassword" placeholder="密码" autocomplete="off"
                            class="form-control" />
                    </div>
                </div>
                <br />


                <div class="row">
                    <label for="use_tls" class="col-sm-2 control-label form-label" data-i18n="settings_use_tls">使用
                        TLS：</label>
                    <div class="col-md-6">
                        <div class="checkbox checkbox-primary">
                            <input id="use_tls" type="checkbox">
                            <label for="use_tls"></label>
                        </div>

                    </div>
                </div>

                <!-- Advanced Settings-->
                <div id="advancedarea" style="display: none;">
                    <hr>
                    <div class="row">
                        <label for="folder" class="col-sm-2 control-label form-label">文件夹：</label>
                        <div class="col-md-6">
                            <input type="text" id="folder" name="folder" placeholder="留空默认为 INBOX"
                                class="form-control" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <label for="folder" class="col-sm-2 control-label form-label" data-toggle="tooltip"
                            title="检查新邮件的频率，最少 30 秒。">轮询频率：</label>
                        <div class="col-md-6">
                            <input type="number" id="imapfreq" name="imapfreq" placeholder="留空默认 60 秒"
                                class="form-control" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <label for="restrictdomain" class="col-sm-2 control-label form-label" data-toggle="tooltip"
                            title="只检查指定域名发送的举报邮件。">限制域名：</label>
                        <div class="col-md-6">
                            <input type="text" id="restrictdomain" name="restrictdomain"
                                placeholder="例如 example.com，留空表示所有域名" class="form-control" />
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <label for="ignorecerterrors" class="col-sm-2 control-label form-label" data-toggle="tooltip"
                            title="忽略常见的证书错误，如自签名证书（会使您面临中间人攻击风险 - 请谨慎使用！）">忽略证书错误：</label>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-primary">
                                <input id="ignorecerterrors" type="checkbox">
                                <label for="ignorecerterrors"></label>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <label for="deletecampaign" class="col-sm-2 control-label form-label" data-toggle="tooltip"
                            title="被举报后删除活动邮件。">删除活动邮件：</label>
                        <div class="col-md-6">
                            <div class="checkbox checkbox-primary">
                                <input id="deletecampaign" type="checkbox">
                                <label for="deletecampaign"></label>
                            </div>

                        </div>
                    </div>
                    <br />

                    <div class="row" id="lastlogindiv">
                        <label for="lastlogin" class="col-sm-2 control-label form-label">上次成功登录：</label>
                        <div class="col-md-6">
                            <input type="text" id="lastlogin" name="lastlogin" placeholder="检查中..." disabled
                                class="form-control border-0" />
                        </div>
                    </div>
                    <br />
                    <input type="hidden" id="lastloginraw" name="lastloginraw" value="">

                </div>

                <div class="row">
                    <label for="advancedsettings" class="col-sm-2 control-label form-label"></label>
                    <div class="col-md-6 text-right">
                        <button class="btn-xs btn-link" id="advanced" type="button">高级设置</button>
                    </div>
                </div>

                <button class="btn btn-primary" id="savesettings" type="button"><i class="fa fa-save"></i> <span
                        data-i18n="btn_save">保存</span></button>
                <button class="btn btn-primary" id="validateimap" type="button"><i class="fa fa-wrench"></i>
                    测试设置</button>


            </form>
        </div>
        <!-- Reporting Settings End -->
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/passwords.min.js"></script>
<script src="/js/dist/app/settings.min.js"></script>
{{end}}